{% extends "base.html" %}
{% block content %}
<div class="col-md-3">
</div>
<div class="col-md-6">
{% if brewery %}
    <style type="text/css">
    #myModal > div {
        color: black;
    }
	</style>
    <br>
    <h2>{{ brewery.brewery_name }}</h2>
    <p>{{ brewery.address_line1 }}<br></p>
    {{ brewery.city }}, {{ brewery.state }} {{ brewery.zip_code }}</p>
    {% if brewery.website %}
        <a href="//{{ brewery.website }}">{{ brewery.website }}</a>
    {% endif %}
    {% if brewery.notes %}
        <p>Notes:  {{ brewery.notes }}</p>
    {% endif %}
    <br>
    <row>
        {% if prices %}
            <p id="shrink">here are the prices users have reported:</p>
            {% for deal in prices %}
				<table id="price-horizontal">
					<tr>
						<th class="hdays">sun</th>
						<th class="hdays">mon</th>
						<th class="hdays">tue</th>
						<th class="hdays">wed</th>
						<th class="hdays">thu</th>
						<th class="hdays">fri</th>
						<th class="hdays">sat</th>
					</tr>
					<tr>
						<td>
							{% if deal.Sunday == '0' %}
							<p class="hclosed">closed</p>
							{% else %}
							<p class="hprice">${{ deal.Sunday }}</p>
							{% endif %}
						</td>
						<td>
							{% if deal.Monday == '0' %}
							<p class="hclosed">closed</p>
							{% else %}
							<p class="hprice">${{ deal.Monday }}</p>
							{% endif %}
						</td>
						<td>
							{% if deal.Tuesday == '0' %}
							<p class="hclosed">closed</p>
							{% else %}
							<p class="hprice">${{ deal.Tuesday }}</p>
							{% endif %}
						</td>
						<td>
							{% if deal.Wednesday == '0' %}
							<p class="hclosed">closed</p>
							{% else %}
							<p class="hprice">${{ deal.Wednesday }}</p>
							{% endif %}
						</td>
						<td>
							{% if deal.Thursday == '0' %}
							<p class="hclosed">closed</p>
							{% else %}
							<p class="hprice">${{ deal.Thursday }}</p>
							{% endif %}
						</td>
						<td>
							{% if deal.Friday == '0' %}
							<p class="hclosed">closed</p>
							{% else %}
							<p class="hprice">${{ deal.Friday }}</p>
							{% endif %}
						</td>
						<td>
							{% if deal.Saturday == '0' %}
							<p class="hclosed">closed</p>
							{% else %}
							<p class="hprice">${{ deal.Saturday }}</p>
							{% endif %}
						</td>
					</tr>
				</table>
				<table id="price-vertical">
					<tr>
						<td class="vdays">sun:</td>
						<td>
							{% if deal.Sunday == '0' %}
							<p class="vclosed">closed</p>
							{% else %}
							<p class="vprice">${{ deal.Sunday }}</p>
							{% endif %}
						</td>
					</tr>
					<tr>
						<td class="vdays">mon:</td>
						<td>
							{% if deal.Monday == '0' %}
							<p class="vclosed">closed</p>
							{% else %}
							<p class="vprice">${{ deal.Monday }}</p>
							{% endif %}
						</td>
					</tr>
					<tr>
						<td class="vdays">tue:</td>
						<td>
							{% if deal.Tuesday == '0' %}
							<p class="vclosed">closed</p>
							{% else %}
							<p class="vprice">${{ deal.Tuesday }}</p>
							{% endif %}
						</td>
					</tr>
					<tr>
						<td class="vdays">wed:</td>
						<td>
							{% if deal.Wednesday == '0' %}
							<p class="vclosed">closed</p>
							{% else %}
							<p class="vprice">${{ deal.Wednesday }}</p>
							{% endif %}
						</td>
					</tr>
					<tr>
						<td class="vdays">thu:</td>
						<td>
							{% if deal.Thursday == '0' %}
							<p class="vclosed">closed</p>
							{% else %}
							<p class="vprice">${{ deal.Thursday }}</p>
							{% endif %}
						</td>
					</tr>
					<tr>
						<td class="vdays">fri:</td>
						<td>
							{% if deal.Friday == '0' %}
							<p class="vclosed">closed</p>
							{% else %}
							<p class="vprice">${{ deal.Friday }}</p>
							{% endif %}
						</td>
					</tr>
					<tr>
						<td class="vdays">sat:</td>
						<td>
							{% if deal.Saturday == '0' %}
							<p class="vclosed">closed</p>
							{% else %}
							<p class="vprice">${{ deal.Saturday }}</p>
							{% endif %}
						</td>
					</tr>
				</table>
            {% endfor %}
                <a>something look wrong? &#9888;</a>
        {% else %}
            <h4>You can be the first to submit a price for {{ brewery.brewery_name }}.</h4>
        {% endif %}
    </row><br>
    <row>
	<h2><button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="" id="report-prices">Report growler prices</button></h2><br>
        <h2><form name="" style="display: none;" id="prices" class="form-horizontal" role="form" action="" method="POST">
            {% csrf_token %}

            
            <div class="form-group">
                <label for="input-Sunday" class="col-sm-4 col-xs-6" style="padding-top: 5px;">Sunday</label>
                <div class="input-group col-sm-3" style="margin-right: 10px;">
                    <div class="input-group-addon">$</div><input type="number" step=".01" class="form-control" id="priceSunday" name="Sunday">
                </div>
				<div class="col-sm-offset-4 col-xs-offset-6" style="padding-top: 10px; font-size: 15px;"></div>
				<div class="col-sm-offset-4 col-xs-offset-6" style="padding-top: -10px; font-size: 15px;"><input type="checkbox" class="closed" id="closedSunday"><label style="padding-left: 10px;">Closed</label></div>
            </div>

            <div class="form-group">
                <label for="input-Monday" class="col-sm-4 col-xs-6" style="padding-top: 5px;">Monday</label>
                <div class="input-group col-sm-3" style="margin-right: 10px;">
                    <div class="input-group-addon">$</div><input type="number" step=".01" class="form-control" id="" name="Monday">
                </div>
				<div class="col-sm-offset-4 col-xs-offset-6" style="padding-top: 10px; font-size: 15px;"></div>
				<div class="col-sm-offset-4 col-xs-offset-6" style="padding-top: -10px; font-size: 15px;"><input type="checkbox" class="closed" id=""><label style="padding-left: 10px;">Closed</label></div>
			</div>

            <div class="form-group">
                <label for="input-Tuesday" class="col-sm-4 col-xs-6" style="padding-top: 5px;">Tuesday</label>
                <div class="input-group col-sm-3" style="margin-right: 10px;">
                    <div class="input-group-addon">$</div><input type="number" step=".01" class="form-control" id="" name="Tuesday">
                </div>
				<div class="col-sm-offset-4 col-xs-offset-6" style="padding-top: 10px; font-size: 15px;"></div>
				<div class="col-sm-offset-4 col-xs-offset-6" style="padding-top: -10px; font-size: 15px;"><input type="checkbox" class="closed" id=""><label style="padding-left: 10px;">Closed</label></div>
			</div>

            <div class="form-group">
                <label for="input-Wednesday" class="col-sm-4 col-xs-6" style="padding-top: 5px;">Wednesday</label>
                <div class="input-group col-sm-3" style="margin-right: 10px;">
                    <div class="input-group-addon">$</div><input type="number" step=".01" class="form-control" id="" name="Wednesday">
                </div>
				<div class="col-sm-offset-4 col-xs-offset-6" style="padding-top: 10px; font-size: 15px;"></div>
				<div class="col-sm-offset-4 col-xs-offset-6" style="padding-top: -10px; font-size: 15px;"><input type="checkbox" class="closed" id=""><label style="padding-left: 10px;">Closed</label></div>
			</div>

            <div class="form-group">
                <label for="input-Thursday" class="col-sm-4 col-xs-6" style="padding-top: 5px;">Thursday</label>
                <div class="input-group col-sm-3" style="margin-right: 10px;">
                    <div class="input-group-addon">$</div><input type="number" step=".01" class="form-control" id="" name="Thursday">
                </div>
				<div class="col-sm-offset-4 col-xs-offset-6" style="padding-top: 10px; font-size: 15px;"></div>
				<div class="col-sm-offset-4 col-xs-offset-6" style="padding-top: -10px; font-size: 15px;"><input type="checkbox" class="closed" id=""><label style="padding-left: 10px;">Closed</label></div>
			</div>

            <div class="form-group">
                <label for="input-Friday" class="col-sm-4 col-xs-6" style="padding-top: 5px;">Friday</label>
                <div class="input-group col-sm-3" style="margin-right: 10px;">
                    <div class="input-group-addon">$</div><input type="number" step=".01" class="form-control" id="" name="Friday">
                </div>
				<div class="col-sm-offset-4 col-xs-offset-6" style="padding-top: 10px; font-size: 15px;"></div>
				<div class="col-sm-offset-4 col-xs-offset-6" style="padding-top: -10px; font-size: 15px;"><input type="checkbox" class="closed" id=""><label style="padding-left: 10px;">Closed</label></div>
			</div>

            <div class="form-group">
                <label for="input-Saturday" class="col-sm-4 col-xs-6" style="padding-top: 5px;">Saturday</label>
                <div class="input-group col-sm-3" style="margin-right: 10px;">
                    <div class="input-group-addon">$</div><input type="number" step=".01" class="form-control" id="" name="Saturday">
                </div>
				<div class="col-sm-offset-4 col-xs-offset-6" style="padding-top: 10px; font-size: 15px;"></div>
				<div class="col-sm-offset-4 col-xs-offset-6" style="padding-top: -10px; font-size: 15px;"><input type="checkbox" class="closed" id=""><label style="padding-left: 10px;">Closed</label></div>
			</div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-xs-offset-6">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>

        </form></h2>
    </row>
</div>

{% else %}
    <p>No brewery matched your search criteria.</p>
{% endif %}
</div>
{% endblock %}